.navbar-toggle {
    display: none;

    @media screen and (max-width: 1100px) {
        z-index:1010;
        display: block;
        position: fixed;
        color: #fff;
        background-color: #00000012;
        border-radius: 0px 0px 10px 0px;
        width: 50px;
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        text-shadow: 0px 0px 2px black;
    }
}

.here{
    background-image: linear-gradient(to right, #5e4175, #423d8c);
    color: #e0e0e0;
}
.navbar {
    z-index:1000;
    position: fixed;
    top:0;
    left:0;
    background-color: $iutNavBackground;
    color: #fef;
    width: $navWidthDesktop;
    height: 100vh;
    font-family: $font-family-alt;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;

    @media screen and (max-width: 1100px) {
        left: -$navWidthDesktop;
        box-shadow: 0 0 0 #00000099;
        transition: all 0.25s;

        &.open {
            left: 0;
            box-shadow: $shadow;
        }
    }

    > a {
        display: block;
        text-align: center;
        margin: 32px 0;

        img {
            width: 200px;
        }
    }

    nav {
        background-image: linear-gradient(to right, #5969d3, #2e90f6);

        > ul {
            display: flex;
            flex-direction: column;

            > li {
                display: flex;
                flex-direction: column;
                background-color: $iutNavBackground;
                transition: all 0.25s;

                > span, > a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    cursor: pointer;

                    i {
                        color: $iutGreyText;
                        width: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .fa-chevron-down {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 64px;
                        transition: transform 0.2s;
                    }
                }

                > ul {
                    display: none;
                    color: $iutGreyText;
                    background-color: lighten($color: $iutNavBackground, $amount: 5%);

                    > li a {
                        display: flex;
                        align-items: center;
                        padding: 12px;
                        padding-left: 32px;
                        transition: all 0.25s;
                    }
                }

                &.open {
                    background-color: transparent;

                    .fa-chevron-down {
                        transform: rotate(-180deg);
                    }

                    > ul {
                        display: block;
    
                        > li a {

                            &:hover {
                                color: #fef;
                            }
                        }
                    }
                }
            }
        }
    }

    .langs {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        a {
            padding: 24px;

            &.active {
                text-decoration: underline;
            }
        }
    }
}
