.newsCardContainer{
    width: auto;
    height: auto;
    padding: 0 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1220px){
        padding: 0 10px;
    }
}
.news-element{
    overflow: hidden;
    border-radius: 7px;
    height: 370px; /*size*/
    /* width: 300px; */
    // filter: drop-shadow(-5px 10px 10px #0000002a);
    box-shadow: -4px 4px 31px #0000003b;
    transition: all .1s ease;

    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 30px;
    @media screen and (max-width: 1220px){
        margin: 21px 17px;
    }
}
.news-element:hover .news-img{
    filter: brightness(0.6) grayscale(1);
}
.news-element:hover .news-button{
    opacity: 1 !important;
}
.news-content-fix{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 350px;
    > a{
        width: 100%;
    }
    @media screen and (max-width: 400px){
        width: 300px;
    }
}




