.statsContainer{
	display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 25px 0px;
    div{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .odometer-inside{
            flex-flow: row;
        }
    }
    .number{
        font-family: sans-serif;
        font-size: 170px;
        color: $iutPurple;
    }
    .subtext{
        font-family: 'ralewaymedium';
        color: $iutDarkText;
        font-size: 21px;
    }

}

.bubbleContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 25px 0px;
    .bubble{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        > p{
            margin-top: 22px;
            text-align: center;
            max-width: 70%;
        }
        .round{
            background: linear-gradient(to top right, #06dfe3, #00ef89);
            border-radius: 100%;
            padding: 20px;
            p{
                margin: 0;
                font-family: sans-serif;
                color: #fff;
                font-size: 80px; //marche pas a 100%
                width: 80px;
                height: 80px;
                text-align: center;
            }
            
        }
    }
}

.horizontalDisplay{
    border-style: solid;
    border-color: $borderColor;
    border-width: 1px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    > p{
        width: 500px;
    }
    div{
        width: auto;
        padding: 0 20px;
        .big{
            font-family: sans-serif;
            font-size: 170px;
            background: linear-gradient(to top right, #06dfe3, #00ef89);
            -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            text-align: center;
        }
        .sub{
            font-family: sans-serif;
            font-size: 25px;
            text-align: center;
        }
    }
    i{
        color:#00ef89;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


@media screen and (max-width: 1300px){
    .bubbleContainer{
        flex-flow: column;
        .bubble{
            flex-flow: row;
            padding: 20px 0px;
            > p{
                margin-top: 22px;
                text-align: center;
                max-width: 59%;
            }
            .round{
                margin-right: 26px;
                p{
                }
                
            }
        }
    }

    .horizontalDisplay{
        flex-flow: column;
        > p{
            width: auto;
            order: 2;
        }
        div{
            padding-bottom: 20px;
            order: 1;
        }
    }

    .statsContainer{
        flex-direction: column;
        > div {
            padding-bottom: 50px;
        }
    }

}

@media screen and (max-width: 900px){
}