a{
    text-decoration: none;
}

.carousel-container{
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 555px;
    background-color: #F7FAFC;
}

.carousel-header{
    font-size: 45px;
    font-family: ralewaybold;
    margin-right: 413px;
    color: #c5c5c5;
}
.carousel-subheader{
    font-size: 30px;
}
.carousel-header-purple{
    color:#7550d7;
}.carousel-header-green{
    color:#35e3ae;
}

.carousel{
    /* overflow-y: visible; */
    /* overflow-x: hidden; */
    /* background-color: blueviolet; */
    width: 70%;
    /* height: 385px; size */
    margin : 40px 0 10px 0;
}

.wrapper{
    max-width: 1200px;
}

.carousel-element{
    overflow: hidden;
    border-radius: 10px;
    height: 370px; /*size*/
    /* width: 300px; */
    filter: drop-shadow(-5px 10px 10px #0000002a);
    transition: all .2s ease;
}
.carousel-element:hover{
    filter: drop-shadow(-15px 20px 20px rgba(0, 0, 0, 0.164));
}


.empty-element{
    width: 300px;
    height: 385px;
}

/*rose*/
.carousel .slick-slide:nth-child(2n) .gradient-blue{
    background-image: linear-gradient(to bottom, #4A8DD1 , #135084);
}
/*vert*/
.carousel .slick-slide:nth-child(3n+1) .gradient-blue{
    background-image: linear-gradient(to bottom, #3CD870 , #22875F);
}

/*bleu*/
.carousel .slick-slide:nth-child(2n+1) .gradient-blue{
    background-image: linear-gradient(to bottom, #F64D8C , #EC5252);
}
/*jaune*/
.carousel .slick-slide:nth-child(3n) .gradient-blue{
    background-image: linear-gradient(to bottom, #F2CC4E , #E69F36);
}

.carousel .slick-slide:nth-child(2n+1) .gradient-blue .testimonial-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4A8DD1 , #135084);
    /* width: 160px;
    height: 45px; */
    width: 149px;
    height: 37px;
    border-radius: 100px;
    /* border-color: white; */
    border: 2px solid #498cd0;
    text-decoration: none;
}

/*violet*/
/*.carousel .slick-slide:nth-child() .gradient-blue{
    background-image: linear-gradient(to bottom, #935DC9 , #3F2588);
}*/
.news{
    background-color: white;
}
.news-empty{
    background-color: rgba(255, 255, 255, 0.64);
}


/* the slides */
.slick-slide {
    width: 320px;
    margin: 0 27px;
}
/* the parent */
.slick-list {
    margin: 0 -27px;
    overflow: visible;
}
/* .slick-arrow{
    position: absolute;
    width: 50px;
}
.slick-prev{
    transform: rotate(180deg);
    z-index: 99;
    top: 200px;
}
.slick-next{
    z-index: 99;
    top: -240px;
    left: 400px; 
} */
.slick-dots{
    bottom: -43px;
}

.fade-left{
    z-index: 999;
    position: absolute;
    background-image: linear-gradient(to right, #F7FAFC , #F7FAFC , #ffffff00);
    width: 200px;
    height: 450px;
    left: -50vw;
}
.fade-right{
    z-index: 999;
    position: absolute;
    background-image: linear-gradient(to left, #F7FAFC ,#F7FAFC, #F7FAFC,#F7FAFC, #ffffff00);
    width: 450px;
    height: 450px;
    right: -50vw;
}

.screen-bg{
    position: absolute;
    width: 520px;
    height: auto;
    top: -50px;
    left: 405px;
    color: red;
}

.screen-bg svg{
    fill: currentColor;
}



/* NEWS */

.news-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.news-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 176px;
    background-size: cover;
    background-position: center;
    transition: all .2s ease;
}
.carousel-element:hover .news-img{
    filter: brightness(0.6) grayscale(1);
}

.news-button-holder{
    position: relative;
    text-decoration: none;
}
.news-button{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: absolute;
    opacity: 0;
    transition: all .2s ease;
    border-radius: 100px;
    text-align: center;
    padding: 12px 12px;
    width: 230px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    top: 64px;
    left: -130px;
    text-decoration: none;
}

.news-button-arrow{
    width: 30px;
    height: auto;
    margin-left: 5px;
}

.news-button-text{
    color: white;
    font-family: ralewaybold;
    font-size: 20px;
    text-decoration: none;
}

.carousel-element:hover .news-button{
    opacity: 1 !important;
}

.news-title{
    color: #5257E1;
    font-family: ralewaybold;
    font-size: 20px;
    width: auto;
    text-align: left;
    padding: 0px 23px 0px 23px;
    margin: 14px 0px 6px 0px;
    text-decoration: none;
    line-height: 25px;
}
.news-date{
    color: #3EC7C3;
    font-family: ralewaymedium;
    font-size: 14px;
    width: auto;
    padding: 0px 23px 0px 23px;
    margin-bottom: 11px;
}
.news-text{
    color: #393939;
    font-family: ralewaymedium;
    font-size: 14px;
    width: auto;
    padding: 0px 23px 0px 23px;
    text-align: justify;
    line-height: 20px;
}

.news-empty-text{
    font-family: ralewaybold;
    font-size: 25px;
    width: 142px;
    text-align: center;
    line-height: 30px;
    color: #7550D7;
}
.testimonial-empty-text{
    font-family: ralewaybold;
    font-size: 25px;
    width: 170px;
    text-align: center;
    line-height: 30px;
    color: rgb(255, 255, 255);
}
.empty{
    justify-content: center;
}
.empty img{
    width: 37px;
    margin-top: 21px;
}





/* TEMOIGNAGE */    
.testimonial-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testimonial-img{
    width: 135px;
    height: 135px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    /* transition: all .6s cubic-bezier(.72,-0.61,.3,1.57); */
    transition: all .3s ease-in-out;
}
.testimonial-name{
    color: white;
    font-family: ralewaybold;
    font-size: 19px;
    text-decoration: none;
    margin-top: 19px;
    padding: 0 20px 0 20px;
    text-align: center;
    transition: all .2s ease-in-out;
}
.testimonial-job{
    color: white;
    font-family: ralewaymedium;
    font-size: 12px;
    text-decoration: none;
    margin-top: 8px;
}
.testimonial-text{
    font-family: ralewaysemibold;
    /* margin-top: 37px; */
    font-size: 16px;
    color: white;
    z-index: 99;
}
.quote-holder{
    position: relative;
    margin-top: 36px;
    transition: all .3s ease-in-out;
}
.quote{
    position: absolute;
    display: block;
    width: 40px;
    top: -19px;
    left: -130px;
    opacity: 0.39;
    transition: all .3s ease-in-out;
}
.quote-bottom{
    position: absolute;
    display: block;
    width: 40px;
    top: 75px;
    left: 87px;
    opacity: 0;
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}
.toggle{
    display: flex;
    height: 100px;
    opacity: 1;
}

.testimonial-description{
    font-family: ralewaymedium;
    /* margin-top: 37px; */
    font-size: 14px;
    line-height: 19px;
    color: white;
    z-index: 99;
    padding: 0px 23px 10px 23px;
}

.testimonial-button p{
    margin: auto;
    font-family: ralewaymedium;
    color: white;
    font-size: 15px;
}

/* HOVER */
.testimonial-content:hover .testimonial-img{
    width: 100px;
    height: 100px;
}
.testimonial-content:hover .quote{
    top: -19px;
}


.testimonial-content:hover .quote-bottom{
    opacity: 0.39;
}

.testimonial-content:hover .testimonial-name{
    margin-top: 8px;
}

.testimonial-content:hover .quote-holder{
    margin-top: 20px;
}
.screen-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.container-button-windows{
    display: flex;
    margin-bottom: 20px;
}
.button-windows{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.green{
    background: #3CD870;
}
.yellow{
    background: #F2CC4E;
    margin: 0 10px;
}
.red{
    background: #EC5252;
}
.screen{
    width: 700px;
    height: 250px;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, .15);
    padding: 20px;
    border-radius: 10px;
    font-family: "Courrier New", monospace;
    line-height: 1.4em;
    background: #332f3e;
    color: #fff;
}
.color-purple{
    color: #7550d7;
}
.title-screen{
    text-align: center;
    margin: 10px 0 20px 0;
    font-family: "ralewaybold";
    font-size: 20pt;
    color: #c5c5c5;
}